* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.nav h2,
span {
  cursor: pointer;
  line-height: 50px;
  font-size: 45px;
  font-weight: 900;
  color: aliceblue;
}

.nav h2 {
  color: #000;
}

/* Sidebar */
.sidebar_container {
  background-color: rgb(255, 0, 0);
  width: 250px;
  overflow: hidden;
}

.nav-opt {
  padding: 10px 10px;
}

.nav-opt:hover {
  background-color: aliceblue;
  color: #000;
}

.nav-opt button {
  color: blue;
  font-size: 40px;
  border: none;
  background: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 150px;
  cursor: pointer;
}

.nav-opt button h3 {
  color: black;
  font-size: 25px;
}

.nav-opt .opt Link {
  text-decoration: none;
}

/* Dashboard Component Styles */
.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.main-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  flex-basis: calc(50% - 20px);
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.inner-card {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin: 0;
}


/* Style for the outer container */
.outer-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for the main title */
.main-title {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  line-height: 70px;
}

/* Style for the "Add Queries" section */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-container {
  margin-bottom: 20px;
}

.textbox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for the list of questions */
h2 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.create-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.icons a,
.icons i {
  font-size: 20px;
  margin-left: 10px;
  color: #007bff;
  cursor: pointer;
}

/* Pagination styles */

.pagination span {
  font-size: 0px;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
}

.pagination span.active {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.pagination button {
  margin-left: 10px;
}

/* Message style for no queries in the database */
p {
  font-size: 16px;
  text-align: center;
  color: #888;
}

.radio {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}